*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
body {
    font-family: Arial, sans-serif;
    color: #(135deg, #7e89ad, #724f05);
    line-height: 1.6;
}*/

body {
  margin: 0;
background-color: ( #7e89ad, #724f05);
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  text-align: center;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 10;
}

header h1 {
    font-size: 1.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
}

 .principal {
    background-image: url(/img/);
background: linear-gradient(109deg,
               rgba(10, 12, 16, 0.8) 15%,
               rgba(10, 12, 16, 0.5) 50%,
               rgba(10, 12, 16, 0.8) 85%), url(img/pobreza-2-1.jpg);
    height: 100vh;
    background-repeat: no-repeat;/* a imagem NÃO se repete */
    background-position: center;/* centraliza a imagem na tela */
    background-size: cover;/* faz a imagem cobrir toda a área sem distorcer */
    display: flex;/* ativa o modo Flexbox  */
    flex-direction: column;/* coloca os itens um embaixo do outro */
    justify-content: center;/* centraliza os itens verticalmente no meio da tela */
    align-items: center;/* centraliza os itens horizontalmente */
    text-align: center;/* centraliza o texto dentro dos elementos */

}
 .principal h2 {
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.principal p {
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

section {
    padding: 40px 20px;
    max-width: 100%;
    margin: auto;
    color: black;
}
 section p{
    font-size: 1.5em;
 }
 section h2{
    color: rgb(0, 0, 0);
    font-size: 2em;
 }
 /*
#sobre{
  background: radial-gradient(circle, #fc0154, #e62d4c, #e91437);
}

#metas{
    background: radial-gradient(circle, #47bbff, #33cfff, #080cf7);
}
#saibaMais{
    background: radial-gradient(circle, #f6fa08, #fd8f00, #bd0303);
}*/


